DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]

#Database
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=holontool
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres

#Anylogic
AL_API_KEY=al_api_key