from rest_framework import serializers
{% for module in outputs %}
{% if module.subclasses|length > 0 %}
from {{ module.module }} import (
{% for subclass in module.subclasses %}{% if not loop.last %}        {{ subclass }},
{% else %}        {{ subclass }}{% endif %}{% endfor %}
)
{% endif %}{% endfor %}
{% for module in outputs %}{% if module.subclasses|length > 0 %}{% for subclass in module.subclasses %}
class {{ subclass }}Serializer(serializers.ModelSerializer):

    class Meta:
        model = {{ subclass }}
        fields = '__all__'

{% endfor %}{% endif %}{% endfor %}