@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: InterVariable, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

@layer base {
  body {
    @apply text-sm;
  }

  a {
    @apply text-blue-600 no-underline;
  }

  a:hover {
    @apply text-blue-700 underline underline-offset-1;
  }
}
