@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  display: block;
}

@layer base {
  body {
    @apply text-sm text-holon-blue-900;
  }

  h1 {
    @apply text-3xl lg:text-5xl font-bold;
  }

  h2 {
    @apply text-2xl lg:text-3xl font-semibold;
  }

  h3,
  h4,
  h5 {
    @apply text-2xl font-semibold;
  }

  p {
    @apply text-base;
  }
}

.card__bg-gold {
  @apply bg-holon-gold-200 border-holon-gold-600;
}

.card__bg-blue {
  @apply bg-holon-blue-100 border-holon-blue-200;
}

.card__bg-gray {
  @apply bg-holon-gray-100 border-holon-gray-300;
}

.card__bg-purple {
  @apply bg-holon-purple-100 border-holon-purple-200;
}

.card__bg-pink {
  @apply bg-holon-pink-100 border-holon-pink-200;
}

.block__bg-gray {
  @apply bg-holon-gray-100;
}

.block__bg-purple {
  @apply bg-holon-purple-100;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  background: #ffffff;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  @apply bg-holon-blue-900;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  width: 8px;
  height: 25px;
  border: 3;
  @apply bg-holon-blue-500;
  @apply border-holon-blue-900;
  @apply rounded-none;
  @apply appearance-none;
  --tw-shadow: 2.5px 2.5px 0 0;
  --tw-shadow-colored: 2.5px 2.5px 0 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  cursor: pointer;
}

.slider:disabled::-webkit-slider-thumb {
  background-color: grey;
}

.slider::-moz-range-thumb {
  width: 8px;
  height: 25px;
  border: 3;
  @apply bg-holon-blue-500;
  @apply border-holon-blue-900;
  @apply rounded-none;
  @apply appearance-none;
  --tw-shadow: 2.5px 2.5px 0 0;
  --tw-shadow-colored: 2.5px 2.5px 0 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
    var(--tw-shadow);
  cursor: pointer;
}

.slider:disabled::-moz-range-thumb {
  background-color: grey;
}

input::-moz {
}
.wiki-context-menu .wiki-context-menu-link {
  display: inherit;
}
.wiki-context-menu .wiki-context-menu-link:before {
  content: "› ";
}
.wiki-breadcrumbs a {
  text-decoration: underline;
}
